{% extends 'index.html.twig' %}

{% block body %}
    <div class="well center-block reg-block">
        <i class="fa fa-check fa-pull-left reg-icon"></i>
        Thank you for your registration.<br /><a href=" {{ path('user_login') }} ">Log in </a>and start adding your dreams.
    </div>
{% endblock %}