<div class="right-nav-block">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="{{ path("dream_list") }}"><i class="fa fa-moon-o fa-fw"></i> Your dreams</a></li>
        <li role="presentation"><a href="{{ path("dream_add") }}"><i class="fa fa-plus fa-fw"></i> Add a dream</a></li>
    </ul>
</div>